@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Dancing+Script:wght@400..700&family=Khand:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Syncopate:wght@400;700&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');


body {
   font-family: 'poppins';
}



.dot {
   border-radius: 30px;
   background-color: red;
   width: 10px;
   height: 10px;
   margin: 5px;
}

.flex-1 {
   display: flex;
   padding: 10px;
}

.dot-2 {
   border-radius: 30px;
   background-color: green;
   width: 10px;
   height: 10px;
   margin: 5px;
}

.dot-3 {
   border-radius: 30px;
   background-color: rgb(27, 27, 216);
   width: 10px;
   height: 10px;
   margin: 5px;
}

.z {
   border-radius: 30px;
   border: 1px solid black;

}

.z-1 {
   border-radius: 30px;
   border: 1px solid black;
   margin-top: 2rem;
   margin-bottom: 1rem;
   width: 10vw;
   height: 4vh;

}

.z:hover {
   box-shadow: black 6px 5px;
}

.apply-2 {
   border-radius: 30px;
   margin-left: 80px;
   width: 200px;
   margin-top: 15px;
   font-size: large;
   font-family: sans-serif;
   margin-bottom: 4%;
}

.crousel-3 {
   display: none;

}

.apply-3 {
   border-radius: 12px;
   width: 200px;
   font-size: large;
   font-family: sans-serif;
   background-color: #52B3FE;
   color: white;


}

.apply-4 {
   border-radius: 30px;
   font-size: small;
   margin-left: 20px;
   font-family: sans-serif;
}

.apply-4:hover {
   box-shadow: black 5px 6px;
   border: 1px solid black;
   border-radius: 20px;
}

.apply-5 {
   border-radius: 30px;
   width: 150px;
   font-size: medium;
   font-family: sans-serif;
   margin: 1px;
   margin-left: 80px;
   margin-top: 10px;
}

.y {
   border-radius: 30px;

}

.y:hover {
   border-radius: 30px;
   border: 1px solid black;
   box-shadow: black 6px 5px;
}



.apply-2:hover {

   box-shadow: black 6px 5px;

}


.top-h1 {
   font-weight: bold;
   font-size: large;
   margin: 10px;

}

.z {

   width: 200px;
   text-align: center;
   height: 50px;
   margin-bottom: 20px;

}

.pi {
   font-weight: 500;
}


.gapping {
   justify-content: space-evenly;
}

.corve {
   border: 1px solid black;
   border-radius: 20px;
   padding: 1rem;
   margin-top: 2rem;
   background-color: #fffaea;
}

.img-corve {
   border-radius: 20px;
}

.a {
   gap: 20px;
   margin: auto;
}

.btn-t {
   text-align: center;
}

.width {
   width: 150px;
}

.navbar {
   background-image: url(images/Rectangle\ 1.png);
   width: 100%;
}

.white-1 {
   background-color: white;
 

}

.best-h1 {
   font-weight: bold;
   font-size: 37px;
}

.white-1 {
   border-radius: 20px;

}

.uttam {
   font-size: 37px;
   font-weight: bold;
   color: rgba(73, 73, 241, 0.936);
}


.explore {
   text-align: center;
   text-decoration: underline;
   font-size: x-large;
   font-weight: bold;
   margin-top: 50px;
}

.after-uttam {
   font-size: large;
   font-style: initial;
   font-family: sans-serif;
   margin-top: 20px;
}



.after-advantage {
   font-size: large;
   font-family: sans-serif;

}






.imgfix {
   width: 150px;
   height: 150px;
}


.degree {
   text-align: center;
   font-family: sans-serif;
   font-weight: 700;
   font-size: 32px;
}

.imageb {

   background-image: url(images/background\ 1\ \(1\)\ 1.png);
   background-repeat: no-repeat;
   background-size: cover;

}

.skill {
   color: rgb(216, 19, 19);
}

.reasons {
   text-decoration: underline;
   text-align: center;
   font-family: sans-serif;
   font-weight: 700;
   font-size: 32px;
}

.ux {
   background-color: white;
   border-radius: 30px;
   width: 300px;
   height: 350px;
}

.images-5 {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;

}

.five-point {
   text-align: center;
   font-family: sans-serif;
   font-weight: 200;
   font-size: 20px;

}

.talk {
   margin-top: 20px;
   height: 44px;
   width: 200px;
   justify-content: center;
   border: 1px solid black;
   margin-bottom: 30px;
}

.center-t {
   text-align: center;
}



.cote {
   color: white;
   font-family: sans-serif;
   font-size: 20px;
   font-weight: 100;

}



.mt-top {
   width: 200px;
   height: 40px;
   margin-top: 30px;
}



.h4 {
   text-align: center;
   font-weight: 300;
   font-family: sans-serif;
}


.explore-e {
   color: white;
}


.explore-p {
   color: white;
}

.explore-h2 {
   font-weight: bold;
   color: white;
   font-size: xx-large;
   margin-top: 40px;
}

.form-b {
   background-color: white;
   border: 1px solid black;
   border-radius: 10px;
   background-color: #b9ddfc;
   padding: 40px;
   height: 400px;
}

.cen-c {
   text-align: center;
}


.two-b {
   border-radius: 10px;
   color: rgba(0, 0, 0, 0.791);
   padding: 10px;
   font-size: 17px;
   font-family: Georgia, 'Times New Roman', Times, ;
   width: 200px;
   margin: 25px;
}

.two-b:hover {

   border: 1px solid black;
   box-shadow: black 6px 5px;
   background-color: #0B5Ed7;
}

.b-main {
   border: 1px solid black;
   border-radius: 18px;

}

.argest-h {
   text-align: center;
   font-style: initial;
}

.argest-p {
   text-align: center;
   font-family: Georgia, 'Times New Roman', Times, "

}

.argest-p2 {
   color: blue;
   font-family: Georgia, 'Times New Roman', Times, ;
   font-weight: 500;
}

.b-main-2 {
   border: 1px solid black;
   width: 100%;
   border-radius: 18px;
}


.book-h {
   margin-top: 55px;
   text-align: center;
}

.main-bg {
   background-color: rgb(6, 6, 114);
   width: 100%;
   height: 100%;
   padding: 20px;
}

.start-j {
   font-family: sans-serif;
   text-align: center;
   font-weight: bold;
}

.cenh3 {
   text-align: center;
   font-weight: bold;
   color: black;
   margin-top: 20px;

}

.cenh4 {
   text-align: center;
   font-weight: bold;
   margin-top: 20px;
   font-size: xx-large;


}


.master-div {
   background-color: white;
   border-radius: 20px;
   width: 170px;
   height: 240px;
   margin: 30px;
   text-align: center;
}


.course-c {
   border-radius: 20px;
   border: 1px solid black;
}


.crousel-4 {

   margin-bottom: 50px;
}


.benefits-para {
   color: gray;
   font-weight: 500;
   font-size: large;
   margin-top: 25px;
}

.benefits-text {
   margin-top: 20px;
   font-size: x-large
}

.benefits-heading {
   margin-top: 35px;
   margin-bottom: 30px;
}

.sir-aboutus {
   width: 450px;
   height: 400px;
   border-radius: 20px;
   margin-top: 40px;
}

.b-color-sir {
   background-color: #042f72;
   margin-top: 40px;
}

.about-p {
   color: white;
   font-size: large;
   margin-top: 30px;
}



.about-h {
   color: white;
   font-size: 40px;
   font-weight: 500;
   margin-top: 40px;
}


.exploremore {
   text-decoration: none;
   font-family: sans-serif;
   font-size: 16px;
   margin-left: 10px;
}


.hover-c {
   width: 300px;
   height: 170px;
   border: 1px solid black;
   border-radius: 50px;
}

.hover-b {
   width: 500px;
   height: 35vh;
   border: 1px solid black;
   border-radius: 50px;
   margin-top: 30px;
}


.ourstory-main {
   background-image: url(images/background\ 2.webp);
   background-repeat: no-repeat;
   background-size: cover;
   height: auto;
   position: relative;
   overflow-y: hidden;
}

.ourstory-p {
   position: absolute;
   top: 10%;
   left: 15%;
   font-size: xx-large;
   color: white;
}

.ourstory-p2 {
   position: absolute;
   top: 15%;
   left: 30%;
   font-size: xx-large;
   color: white;
}

.ourstory-p3 {
   position: absolute;
   top: 50%;
   left: 20%;
}


.ourstory-p4 {
   position: absolute;
   top: 50%;
   left: 31%;
   font-size: xx-large;
   color: skyblue;
   font-weight: bold;
   font-family: Verdana;
}

.ourstory-p5 {
   position: absolute;
   top: 70%;
   text-align: center;
   left: 1%;
   font-size: x-large;
   color: white;
}

.diploma-start

.diploma-main{
   margin-top: 18%;
}

.diploma-image-1{
   border: 2px solid black;
}


.diploma-image-2{
   border: 2px solid black;
}



.bold-feedback{
   font-weight: bold;
   font-size: 45px;
   text-align: center;
}

.bold-faq{
   font-weight: bold;
   font-size: 45px;
   text-align: center;
}



.feedback-main{
   background-color: #EBECEF;
   border-radius: 15PX;
   margin-top: 50px;

}

.faqback{
   background-color: #042f72;
   color: white;
}

.faqhead{
   color:black
}

.acc-item{
   color: rgb(34, 34, 145);
}

.footer-main{
   background-color: #042f72;
   margin-top:10%;
}


.address-icon{
   color: white;
   margin-top: 30px;
}


.address-c{
   color: white;
   padding: 5%;
}


.mail-footer{
   color: white;
    
}


.address-display{
   display: flex;
   
}

@media (min-width:769px) {

   .top-h1 {
      display: flex;
      font-size: 15px;
   }

   .t {
      border-radius: 30px;
      width: 250px;
      height: 60px;
   }

   .images-5 {
      display: flex;
      flex-wrap: wrap;
   }

   .media {
      width: 100px;
   }


}

@media (max-width:450px) {

   .master-div {
      width: 150px;
      height: 180px;
      margin-right: 20px;
      text-align: center;
      margin: 0px;
      margin-top: 15px;
      margin-bottom: 10px;
   }

   .master-div img {
      width: 98px;
      height: 100px;
   }

   .img-corve {
      width: 300px;
      height: 250px;
      margin: 0vw 3vw;
   }


   .corve {
      margin-bottom: 40px;
   }




   .crousel-3 {
      display: block;

   }

   .crousel-4 {
      display: none;
   }


   .two-b {
      border-radius: 5px;
      color: rgba(0, 0, 0, 0.791);
      padding: 10px;
      font-size: 17px;
      width: 120px;
      margin: 25px;
      color: darkblue;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', ;
   }


   .z-1 {
      border-radius: 30px;
      border: 1px solid black;
      width: 38vw;
      font-size: small;
      height: 40px;
      padding: 10px
   }

   .f-w {
      font-weight: 500;
      font-size: small;
   }

   .apply-5 {
      border-radius: 30px;
      width: 140px;
      font-size: medium;
      font-family: sans-serif;
      margin: 1px;
      margin-top: 10px;
      margin-left: 20px;
   }

   .apply-3 {
      border-radius: 12px;
      width: 170px;
      height: 50px;
      font-size: small;
      font-family: sans-serif;
   }

   .ourstory-p3 {
      position: absolute;
      top: 50%;
      left: 10%;
   }

   .ourstory-p5 {
      position: absolute;
      top: 70%;
      text-align: center;
      left: 1%;
      font-size: medium;
      color: white;
   }


   .diploma-image-1{
   border: 2px solid black;
   margin-top: 20%;
}


}


@media (max-width : 390px) {

   .master-div {
      width: 150px;
      height: 180px;
      margin-right: 20px;
      text-align: center;
      margin: 10px;
   }

   .corve {
      margin-bottom: 40px;
   }

   .img-corve {
      width: 300px;
      height: 250px;
   }

   .master-div img {
      width: 98px;
      height: 100px;
   }

   .crousel-3 {
      display: block;

   }

   .crousel-4 {
      display: none;
   }



   .two-b {
      border-radius: 5px;
      color: rgba(0, 0, 0, 0.791);
      padding: 10px;
      font-size: 17px;
      width: 120px;
      margin: 25px;
      color: darkblue;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', ;

   }

   .apply-5 {
      border-radius: 30px;
      width: 140px;
      font-size: medium;
      font-family: sans-serif;
      margin: 1px;
      margin-top: 10px;
   }

   .apply-3 {
      border-radius: 12px;
      width: 170px;
      height: 50px;
      font-size: small;
      font-family: sans-serif;
   }



   .ourstory-p3 {
      position: absolute;
      top: 50%;
      left: 10%;
   }




}


@media (min-width:768px) {

   .master-div {
      width: 190px;
      height: 200px;
      justify-content: center;
      margin-right: 0px;
   }

   .master-div img {
      width: 98px;
      height: 100px;
   }

   .form-b {
      width: 90%
   }


}



@media (min-width:578px) {}

@media (max-width:578px) {}